.scoreBoard {
    position: fixed;
    height: 90vh;
    width: 75vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border: 1px solid #646cff;
    border-radius: 8px;
    background-color: #242424;
    display: flex;
    justify-content: center;
    flex-flow: column;
}

.message {
    font-size: 5vw;
    text-align: center;
}



.scores {
    display: grid;
    justify-content: space-between;
    padding: 5vw;
    grid-template-columns: 1fr 1fr;
}

.score {
    display: flex;
    font-size: 5vw;
    flex-flow: column;
    border: 1px solid #646cff;
    border-radius: 8px;
}

.score div {
    margin: 0 auto;
}

.start-btn {
    display: block;
    margin: 0 auto;
}

.start-btn div {
    font-size: 5vw;
}