body::-webkit-scrollbar {
  display: none;
}

#root {
  width: 100vw;
}

h1 {
  text-align: center;
}

#deck {
  display: grid;
  width: 100vw;
  grid-auto-flow: column;
  grid-auto-rows: 18.73125vw;
}

.card {
  border: 2px black solid;
  overflow: hidden;
  background-image: url("/loading.gif");
  background-position: center;
}

.card:nth-child(3n + 1) {
  grid-column: 1;
}
.card img {
  visibility: hidden;
  transition: opacity 250ms ease-in-out;
}
.card.loaded img {
  visibility: visible;
}
